<% unless @payment_methods.empty?%>
  <% @payment_methods.each do |method|%>
    <h2><%= method.name %></h2>
    <ul><%= number_to_percentage method.charging_fee, precision:2, significant: true, separator: ',', delimiter:'.' %></ul>
    <ul><%= number_to_currency method.maximum_charge,unit:'R$ ',separator:',',delimiter:'.' %></ul>
    <ul>Tipo <%= method.pay_type %></ul>
  <% end %>
<% else%>
  <p>Nenhum meio de pagamento cadastrado</p>
<% end %>
<%= link_to 'Voltar', root_path %>
<%= link_to 'Cadastrar meio de pagamento', new_payment_method_path %>