<h1><%= image_tag @payment_method.icon %> <%= @payment_method.name %></h1>
<dl>
  <dt>Taxa de cobrança</dt>
  <dd><%= number_to_percentage @payment_method.charging_fee, precision:2, significant: true, separator: ',', delimiter:'.' %></dd>
  <dt>Taxa máxima cobrável</dt>
  <dd><%= number_to_currency @payment_method.maximum_charge,unit:'R$ ',separator:',',delimiter:'.' %></dd>
  <dt>Tipo <%= PaymentMethod.human_enum_name(:pay_type, @payment_method.pay_type.to_sym) %></dd>
</dl>
<%= link_to 'Voltar', payment_methods_path %>
<%= link_to 'Editar', edit_payment_method_path(@payment_method) %>
<%= link_to 'Apagar', payment_method_path(@payment_method),method: :delete, data:{confirm: 'Você realmente deseja apagar este meio de pagamento?'} %>