<%= flash[:notice] %>
<%= flash[:alert] %>
<% unless @products.empty?%>
  <% @products.each do |product|%>
    <h2><%=link_to product.name, company_product_path(product) %></h2>
    <ul><%= number_to_currency product.price,unit:'R$ ',separator:',',delimiter:'.' %></ul>
    <ul>Desconto: <%= number_to_percentage product.sale_discount, precision:1, significant: true, separator: ',', delimiter:'.' %></ul>
    <ul>Token <%= product.token %></ul>
  <% end %>
<% else%>
  <p>Nenhum produto cadastrado</p>
<% end %>
<%= link_to 'Voltar', @company %>
<%= link_to 'Cadastrar produto', [:new,@company,:product] %>