<h1>PayNow</h1>
<p>Boas vindas à plataforma de pagamentos PayNow!</p>
<% if staff_signed_in? %>
  <%= link_to 'Gerenciar meios de pagamento', staff_payment_methods_path %>
  <%= link_to 'Cadastrar empresa', new_company_path  if current_staff.company.nil? %>
  <%= link_to 'Minha empresa', company_path(current_staff.company)  unless current_staff.company.nil? %>
<% end %>

<% if admin_paynow_signed_in? %>
  <%= link_to 'Meios de pagamento', payment_methods_path %>
  <%= link_to 'Empresas Clientes', companies_path %>
<% end %>