<h1><%= @company.corporate_name %></h1>
<p>Token: <%= @company.token %></p>
<dl>
  <dt>Email</dt>
  <dd><%= @company.email %></dd>
  <dt>CNPJ</dt>
  <dd><%= @company.cnpj %></dd>
  <dt>Endereço</dt>
  <dd><%= @company.address %></dd>
</dl>
<%= link_to 'Resetar token da empresa', company_reset_token_path(@company), method: :post if current_staff.admin? %>
<%= link_to 'Produtos', company_products_path(@company) %>
<%= link_to 'Funcionários', my_staff_company_path(@company) if current_staff.admin? %>
<%= link_to 'Voltar', root_path %>
<%= link_to 'Editar', edit_company_path(@company) %>