<!DOCTYPE html>
<html>
  <head>
    <title>PayNow</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <% if admin_paynow_signed_in? %>
        <%= current_admin_paynow.email %>
        <%= link_to 'Sair', destroy_admin_paynow_session_path, method: :delete %>
      <% elsif staff_signed_in? %>
        <p><%= current_staff.email %> Token: <%= current_staff.company.token unless current_staff.company.nil?%></p>
        <%= link_to 'Sair', destroy_staff_session_path, method: :delete %>
      <% else %>
        <%= link_to 'Registrar-me', new_staff_registration_path %>
        <%= link_to 'Entrar', new_staff_session_path %>
      <% end %>
    </nav>
    <div><%= notice if notice %></div>
    <div><%= alert if alert %></div>
    <footer>
      <% unless admin_paynow_signed_in?|staff_signed_in? %>
        <%= link_to 'Portal Funcionário Paynow', new_admin_paynow_session_path %>
      <% end %>
    </footer>
    <%= yield %>
  </body>
</html>
